header{
    color: rgb(216, 127, 37);
}
header h1{
    font-size: 500%;
}
p{
    text-indent: 10%;
    text-align: justify;
}
h2{
    text-indent: 5%;
    text-align: justify;
}
.imgNoti{
    max-width: 300px;
    text-align: center;
    margin-top: 50px;
}
.imgColu{
    max-width: 130px;
    text-align: center;
    border-radius: 50%;
}
.colorTitu{
    color: rgb(216, 127, 37);
}
.colorAutor{
    color: goldenrod;
}
footer{
    background-color: rgb(216, 127, 37);
}
.textRoda{
    font-size: 85%;
}
.tel{
    font-size: 70%;
    text-align: end;
}
.whats{
    font-size: 160%;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 130%;
}